$light-gray: #edf1f2
$dark-gray: #cecece
$hover-item: #6eefff
$day-width: 100% / 7
$selected: #778695

.pagination-container
    margin-top: 10px
    
    .pagination
            margin-bottom: 0

.table
    .head
        font-size: 20px
        padding: 10px 0
        margin: 0
        background-color: $light-gray
    
    .row-table
        font-size: 16px
        padding-top: 15px 
        padding-bottom: 15px
        background-color: $light-gray
        cursor: pointer

        &:hover
            background-color: $hover-item

        &:nth-child(even)
            background-color: $dark-gray

            &:hover
                background-color: $hover-item

        .description
            margin: 0 10px 0 0

        .content
            margin: 5px 10px 10px 10px
            padding: 10px 0
            background-color: #fff

.config
    margin-top: 20px

    .add
        margin-top: 15px
        padding-left: 0

        button
            margin-right: 5px
    
    .calendar
        margin-top: 20px

        .day, .day-name
            width: $day-width
            display: inline-block
            padding: 5px 0
            text-align: center

        .day
            cursor: pointer

            &:hover
                background-color: $hover-item

        .day-name
            font-weight: bold

        .day-selected
            background-color: $selected

    .submit
        text-align: right

        button
            width: 100px